<p class="text-center">Ask your coach for anything:</p>
<form action="/answer" method="get" class="mb-3 text-center">
  <input type="text" name="answer" placeholder="Ask a question to the coach">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
